<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>Copyright {{ 'now' | date: "%Y" }} Canterbury Tennis Club</li>
		{% if site.twitter_url or site.facebook_url or site.instagram_url %}
		<li>Follow CTC on
		{% if site.twitter_url %}
		<a href="{{ site.twitter_url }}" target="_blank">Twitter</a>
		{% endif %} {% if site.facebook_url %}
		<a href="{{ site.facebook_url }}" target="_blank">Facebook</a>
		{% endif %} {% if site.instagram_url %}
		<a href="{{ site.instagram_url }}" target="_blank">Instagram</a>
		{% endif %}</li>{% endif %}
	</ul>
</footer>

</div>

<!-- Scripts -->
<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/util.js" | relative_url }}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>

</body>

</html>
