<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>Copyright {{ 'now' | date: "%Y" }} Canterbury Tennis Club.</li>
		{% if site.twitter_url or site.facebook_url or site.instagram_url %}
		<li>Follow CTC on social media
		{% if site.twitter_url %}
		<span class="icons"><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></span>
		{% endif %} {% if site.facebook_url %}
		<span class="icons"><a href="{{ site.facebook_url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></span>
		{% endif %} {% if site.instagram_url %}
		<span class="icons"><a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></span>
		{% endif %}{% endif %}
	</ul>
</footer>

</div>

<!-- Scripts -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>

</body>

</html>
